* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
  /* color: #888; */
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #298b47;
  background-image: url(/src/assets/bg-pattern.webp);
  display: flex;
  justify-content: center;
  align-items: center;
}
